template(name="home")
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title Fuzzardly
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1')
	.container
		h1 Grocery List
		+loginButtons
		+GroceryForm
		+GroceryList